
*{
    margin: 0;
    padding: 0;
}

/* delete all of this*/
section.main{
    background-color: #ffffff;
    height:90vh;
    width: 100vw;
    z-index: 1;
}
section.menu{
    height: 10vh;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: black;
    z-index: 2;
}
canvas{
    display: block;
    z-index: 100;
}
div.loader{
    position: fixed;
    top: 0px;
    height: 90vh;
    width: 100vw;
    background-color: black;
    z-index: 200;
}
.loading-ct{
    color: white;
    text-align: center;
    padding-top: 300px;
}